Repository AshleyHollis/yt-summarizer: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "cd apps/web && npx eslint --fix",
    "cd apps/web && npx prettier --write"
  ],
  "apps/web/**/*.{json,css,md}": [
    "cd apps/web && npx prettier --write"
  ],
  "services/**/*.py": [
    "pwsh -Command \"cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)\"",
    "pwsh -Command \"cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)\""
  ]
}

fix: remove deprecated Husky shebang lines for v10 compatibility
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(swa): add health check route handler for Azure SWA deployment validation
  apps/web/next.config.ts
  apps/web/src/app/.swa/health/route.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(swa): remove routes config to allow Next.js rewrites for health check
  apps/web/staticwebapp.config.json
Due: cd apps/web && npx prettier --write

fix(swa): deploy standalone build to reduce deployment size from ~300MB to ~79MB
  .github/workflows/preview.yml
Due: none

style: normalize quote style to double quotes in deploy-prod.yml (Prettier auto-format)
  .github/workflows/deploy-prod.yml
Due: none

fix(swa): revert app_location to apps/web for correct Next.js hybrid deployment
  .github/workflows/preview.yml
Due: none

perf(swa): add pre-deployment cleanup to reduce upload size from ~300MB to ~80MB
  .github/actions/prepare-swa-deployment/action.yml
  .github/actions/prepare-swa-deployment/script.sh
  .github/workflows/preview.yml
Due: none

fix(swa): remove cleanup step to match working production config
  .github/workflows/preview.yml
Due: none

fix(swa): add Auth0 env vars to preview deployment to fix warm-up timeout
  .github/workflows/preview.yml
Due: none

fix(auth): make Auth0 non-blocking + configure SWA app settings via AzCLI
  .github/workflows/preview.yml
  apps/web/src/app/auth-config-error/page.tsx
  apps/web/src/lib/auth0.ts
  apps/web/src/proxy.ts
  run-logs.zip
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(auth): convert auth-config-error page to client component to fix build
  apps/web/src/app/auth-config-error/page.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: bypass proxy middleware to isolate SWA warmup timeout
  apps/web/SWA-WARMUP-NEXT-STEPS.md
  apps/web/SWA-WARMUP-SESSION-SUMMARY.md
  apps/web/SWA-WARMUP-TIMEOUT-INVESTIGATION.md
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: simplify Next.js rewrites to isolate SWA warmup timeout
  apps/web/next.config.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: use dynamic imports in proxy to prevent Auth0 SDK loading at module level
  apps/web/SWA-WARMUP-TIMEOUT-INVESTIGATION.md
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

docs: update SWA warmup investigation with Option 3 results (dynamic imports failed)
  apps/web/SWA-WARMUP-NEXT-STEPS.md
  apps/web/SWA-WARMUP-TIMEOUT-INVESTIGATION.md
Due: cd apps/web && npx prettier --write

docs: document new systematic baseline testing strategy
  apps/web/SWA-WARMUP-TIMEOUT-INVESTIGATION.md
Due: cd apps/web && npx prettier --write

docs: add systematic baseline test plan for SWA warmup investigation
  apps/web/SWA-BASELINE-TEST-PLAN.md
Due: cd apps/web && npx prettier --write

feat: add simplified SWA baseline test workflow
  .github/workflows/test-swa-baseline.yml
Due: none

docs: CRITICAL - baseline timeout proves issue is NOT Auth0-related
  apps/web/SWA-BASELINE-TEST-PLAN.md
Due: cd apps/web && npx prettier --write

test: force deployment trigger for baseline SWA warmup test
  apps/web/src/app/page.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

feat: add simplified SWA baseline deployment workflow
  .github/workflows/swa-baseline-deploy.yml
Due: none

fix: add id-token permission for Azure login
  .github/workflows/swa-baseline-deploy.yml
Due: none

fix: remove unnecessary Azure login step
  .github/workflows/swa-baseline-deploy.yml
Due: none

docs: update baseline test results - Auth0 IS the cause
  apps/web/SWA-BASELINE-TEST-PLAN.md
Due: cd apps/web && npx prettier --write

docs: add comprehensive baseline test results documentation
  apps/web/BASELINE-TEST-RESULTS.md
Due: cd apps/web && npx prettier --write

test: Phase 2 - Add auth0.ts utility module (not imported anywhere)
  apps/web/SWA-BASELINE-TEST-PLAN.md
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/lib/auth0.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

docs: update Phase 2 results - auth0.ts module is safe
  apps/web/SWA-BASELINE-TEST-PLAN.md
Due: cd apps/web && npx prettier --write

test: Phase 3 - Add Auth0 middleware (EXPECTED TO FAIL)
  apps/web/middleware.ts
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: use static config object in middleware (Next.js requirement)
  apps/web/middleware.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: rename middleware to proxy and use default export (Next.js 16 convention)
  apps/web/middleware.ts
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: add AuthProvider to isolate timeout cause (Phase 3.5)
  apps/web/src/app/providers.tsx
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/hooks/useAuth.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: add auth pages and components (Phase 4)
  apps/web/src/app/access-denied/page.tsx
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/auth-config-error/page.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/components/auth/AuthLoading.tsx
  apps/web/src/components/auth/LoginButton.tsx
  apps/web/src/components/auth/LogoutButton.tsx
  apps/web/src/components/auth/README.md
  apps/web/src/components/auth/RoleBasedComponent.tsx
  apps/web/src/components/auth/UserProfile.tsx
  apps/web/src/components/auth/UsernamePasswordForm.tsx
  apps/web/src/lib/auth-utils.ts
  apps/web/src/types/auth.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: change proxy export from default to named (Phase 4.5)
  apps/web/BASELINE-TEST-RESULTS.md
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

docs: update investigation results - Phase 4.5 passed, Phase 5 testing
  apps/web/BASELINE-TEST-RESULTS.md
  apps/web/SWA-TIMEOUT-INVESTIGATION-SESSION-3.md
Due: cd apps/web && npx prettier --write

test: trigger frontend deployment for Auth0 preview workflow test
  apps/web/src/app/page.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: ensure frontend deploys AFTER backend verification completes
  .github/workflows/preview.yml
Due: none

chore: trigger deployment to verify SWA warmup fix
  apps/web/README.md
Due: cd apps/web && npx prettier --write
