Repository AshleyHollis/yt-summarizer: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

ci: Add migration/phase-6-auth-ui branch to SWA workflow
  .github/workflows/swa-baseline-deploy.yml
Due: none

ci: Configure SWA runtime environment variables for Auth0
  .github/workflows/swa-baseline-deploy.yml
Due: none

docs: Add Phase 6 status marker
  apps/web/PHASE-6-STATUS.md
Due: cd apps/web && npx prettier --write

refactor: Switch to backend API authentication
  .github/workflows/swa-baseline-deploy.yml
  apps/web/PHASE-6-STATUS.md
  apps/web/docs/BACKEND-AUTH-API.md
  apps/web/lib/auth0.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/auth/AuthButton.tsx
  apps/web/src/proxy.ts
  apps/web/src/services/auth.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

docs: update MIGRATION-LOG with phases 3-6 journey and SWA insights
  MIGRATION-LOG.md
Due: none

feat(api): add /auth/session endpoint for frontend integration
  services/api/src/api/routes/auth.py
  services/api/tests/test_auth.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

feat(aspire): add Auth0 configuration parameters for API
  services/aspire/AppHost/AppHost.cs
Due: none

feat(terraform): update Auth0 callback URLs for /api/auth/callback
  infra/terraform/environments/prod/variables.tf
Due: none

feat(api): update production API image to sha-bda74d4 with auth endpoints
  k8s/overlays/prod/kustomization.yaml
Due: none

feat(swa): configure production API URL for auth integration
  .github/workflows/swa-baseline-deploy.yml
Due: none

feat(swa): add reverse proxy route for API requests
  apps/web/staticwebapp.config.json
Due: cd apps/web && npx prettier --write

fix(auth): correct API endpoint paths to include /api prefix
  apps/web/src/services/auth.ts
  apps/web/staticwebapp.config.json
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test(auth): add E2E Playwright test for auth flow
  apps/web/test-auth-flow.mjs
Due: none

docs: update MIGRATION-LOG with Phase 6 completion and E2E auth flow success
  MIGRATION-LOG.md
Due: none

Phase 6: Backend API Authentication with E2E Auth Flow (#70)
  .github/workflows/swa-baseline-deploy.yml
  .github/workflows/test-swa-baseline.yml
  .gitignore
  MIGRATION-LOG.md
  MIGRATION-PLAN.md
  QUICK-START.md
  WORKING-BASELINE.md
  apps/web/SWA-BASELINE-TEST-PLAN.md
  apps/web/docs/BACKEND-AUTH-API.md
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/auth/AuthButton.tsx
  apps/web/src/services/auth.ts
  apps/web/test-auth-flow.mjs
  infra/terraform/environments/prod/variables.tf
  k8s/overlays/prod/kustomization.yaml
  services/api/src/api/routes/auth.py
  services/api/tests/test_auth.py
  services/aspire/AppHost/AppHost.cs
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

docs: update Next Steps to align with MIGRATION-PLAN phases 7-8
  MIGRATION-LOG.md
Due: none

docs: update MIGRATION-LOG Next Steps to align with MIGRATION-PLAN (#71)
  MIGRATION-LOG.md
  MIGRATION-PLAN.md
  WORKING-BASELINE.md
  apps/web/docs/BACKEND-AUTH-API.md
  apps/web/src/services/auth.ts
  apps/web/test-auth-flow.mjs
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(api): return proper HTTP error codes in auth endpoints
  services/api/src/api/routes/auth.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix(api): return proper HTTP error codes in auth endpoints (#72)
  services/api/src/api/routes/auth.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

optimize(sql): reduce Azure SQL database costs
  infra/terraform/environments/prod/sql.tf
Due: none

optimize(sql): reduce Azure SQL database costs (#73)
  infra/terraform/environments/prod/sql.tf
Due: none

optimize(sql): switch to Basic tier for 24/7 workloads (~69/month savings)
  infra/terraform/environments/prod/sql.tf
  infra/terraform/modules/sql-database/main.tf
Due: none

optimize(sql): switch to Basic tier for 24/7 workloads (~69/month savings) (#74)
  infra/terraform/environments/prod/sql.tf
  infra/terraform/modules/sql-database/main.tf
Due: none

refactor(workflows): simplify deploy-prod.yml - remove detect-changes logic
  .github/workflows/deploy-prod.yml
Due: none

fix(workflows): correct job reference in deploy-prod.yml
  .github/workflows/deploy-prod.yml
Due: none

refactor(workflows): simplify deploy-prod.yml by removing detect-changes logic (#75)
  .github/workflows/deploy-prod.yml
Due: none

fix(scripts): make Argo CD scripts executable
  scripts/sync-argocd-manifests.sh
  scripts/validate-argocd-deployment.sh
Due: none

fix(deployment): fix production deployment failures (script permissions + SWA token) (#76)
  scripts/sync-argocd-manifests.sh
  scripts/validate-argocd-deployment.sh
Due: none

fix(deps): add greenlet for SQLAlchemy asyncio support
  services/api/pyproject.toml
  services/shared/pyproject.toml
  services/workers/pyproject.toml
Due: none

fix(deps): add greenlet for SQLAlchemy asyncio support (#77)
  services/api/pyproject.toml
  services/shared/pyproject.toml
  services/workers/pyproject.toml
Due: none

fix(auth): update default_return_to to use CloudFlare DNS URL
  services/shared/shared/config.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

feat(admin): add admin dashboard and fix logout endpoint
  apps/web/src/app/admin/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/hooks/useAuth.ts
  services/api/src/api/routes/auth.py
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix(lint): remove 'any' type from admin role check in Navbar
  apps/web/src/components/Navbar.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(auth): configure CloudFlare DNS and Azure SWA for Auth0 redirects (#78)
  apps/web/src/app/admin/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/hooks/useAuth.ts
  k8s/overlays/prod/kustomization.yaml
  services/api/src/api/routes/auth.py
  services/shared/shared/config.py
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

chore: add pre-push hook installer and documentation
  scripts/install-hooks.sh
Due: none

chore: add pre-push hook installer (#79)
  scripts/install-hooks.sh
Due: none

fix(deployment): resolve TypeScript build error and enhance checks
  .github/workflows/ci.yml
  apps/web/src/app/admin/page.tsx
  scripts/install-hooks.sh
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(tests): resolve all TypeScript errors in test files
  apps/web/src/__tests__/components/JobProgress.test.tsx
  apps/web/src/__tests__/components/SubmitVideoForm.test.tsx
  apps/web/src/__tests__/components/library/VideoCard.test.tsx
  apps/web/src/__tests__/components/library/VideoDetailReprocess.test.tsx
  apps/web/src/__tests__/hooks/useHealthCheck.test.tsx
  apps/web/src/__tests__/setup.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

chore: fix trailing whitespace and set up Husky for git hooks
  .husky/pre-push
  apps/web/src/__tests__/components/library/VideoDetailReprocess.test.tsx
  package-lock.json
  package.json
  scripts/install-hooks.sh
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

Path conditions:
  cd apps/web && npx eslint --fix: any of: apps/web/**/*.{ts,tsx,js,jsx}
  cd apps/web && npx prettier --write: (any of: apps/web/**/*.{ts,tsx,js,jsx}) or (any of: apps/web/**/*.{json,css,md})
  pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)": any of: services/**/*.py
  pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)": any of: services/**/*.py
