Repository AshleyHollis/yt-summarizer: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "cd apps/web && npx eslint --fix",
    "cd apps/web && npx prettier --write"
  ],
  "apps/web/**/*.{json,css,md}": [
    "cd apps/web && npx prettier --write"
  ],
  "services/**/*.py": [
    "pwsh -Command \"cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)\"",
    "pwsh -Command \"cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)\""
  ]
}

Update SWA timeout analysis docs with final implementation (#115)
  docs/history/workflow-docs/swa-deployment-timeout-analysis.md
Due: none

Fix: Deploy to correct SWA environment (production vs preview)
  .github/actions/deploy-frontend-swa/action.yml
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
  .github/workflows/deploy-prod.yml
Due: none

Add PR-based environment naming and verbose logging
  .github/actions/deploy-frontend-swa/action.yml
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
  .github/workflows/preview.yml
Due: none

Fix: Deploy to correct SWA environment with PR-based naming
  .github/actions/deploy-frontend-swa/action.yml
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
  .github/workflows/deploy-prod.yml
  .github/workflows/preview.yml
  k8s/overlays/preview/kustomization.yaml
Due: none

Fix SWA environment naming and add GitHub context
  .github/actions/deploy-frontend-swa/action.yml
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
  .github/workflows/deploy-prod.yml
  docs/history/workflow-docs/swa-environment-fix.md
Due: none

Fix SWA deployment configuration
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
  .github/workflows/preview.yml
Due: none

Fix: Make deploy-with-retry.sh executable
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
Due: none

Fix: SWA environment naming and GitHub context integration (#117)
  .github/actions/deploy-frontend-swa/action.yml
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
  .github/workflows/deploy-prod.yml
  .github/workflows/preview.yml
  docs/history/workflow-docs/swa-environment-fix.md
  k8s/overlays/preview/kustomization.yaml
Due: none

Fix: Add defensive PR state handling and error recovery to pipelines
  .github/actions/argocd-wait/action.yml
  .github/actions/wait-for-ci/action.yml
  .github/actions/wait-for-ci/script.sh
  .github/workflows/deploy-prod.yml
  .github/workflows/preview.yml
  scripts/ci/lib/argocd-utils.sh
  scripts/ci/update_prod_kustomization.sh
Due: none

Fix: Add defensive PR state handling and error recovery to pipelines (#118)
  .github/actions/argocd-wait/action.yml
  .github/actions/wait-for-ci/action.yml
  .github/actions/wait-for-ci/script.sh
  .github/workflows/deploy-prod.yml
  .github/workflows/preview.yml
  k8s/overlays/preview/kustomization.yaml
  scripts/ci/lib/argocd-utils.sh
  scripts/ci/update_prod_kustomization.sh
Due: none

refactor: optimize AI agent prompts for token efficiency and best practices
  AGENTS.md
  docs/architecture/agent-ui-patterns.md
  services/api/src/api/agents/yt_summarizer_agent.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

refactor: optimize AI agent prompts for token efficiency and best practices (#119)
  AGENTS.md
  docs/architecture/agent-ui-patterns.md
  services/api/src/api/agents/yt_summarizer_agent.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

docs: add comprehensive AI skills reference and update AGENTS.md
  AGENTS.md
  docs/ai-skills.md
Due: none

docs: add comprehensive AI skills reference and update AGENTS.md (#120)
  AGENTS.md
  docs/ai-skills.md
Due: none

feat: add custom AI skills for YT Summarizer project
  .agents/skills/aspire-orchestration/SKILL.md
  .agents/skills/azure-cli-operations/SKILL.md
  .agents/skills/fastapi-patterns/SKILL.md
  .agents/skills/yt-summarizer-testing/SKILL.md
Due: none

docs: update AGENTS.md with AI skills system documentation
  AGENTS.md
Due: none

add ai skills (#121)
  .agents/skills/aspire-orchestration/SKILL.md
  .agents/skills/azure-cli-operations/SKILL.md
  .agents/skills/fastapi-patterns/SKILL.md
  .agents/skills/yt-summarizer-testing/SKILL.md
  AGENTS.md
Due: none

feat: add GitHub Actions/pipelines skill
  .agents/skills/github-actions-pipelines/SKILL.md
  AGENTS.md
Due: none

feat: add GitHub Actions/pipelines skill (#122)
  .agents/skills/github-actions-pipelines/SKILL.md
  AGENTS.md
Due: none

fix: resolve ESLint unused variable warnings in frontend
  apps/web/e2e/chat-responses.spec.ts
  apps/web/e2e/copilot.spec.ts
  apps/web/e2e/full-journey.spec.ts
  apps/web/e2e/global-setup.ts
  apps/web/e2e/library.spec.ts
  apps/web/e2e/processing-history.spec.ts
  apps/web/e2e/single-response.spec.ts
  apps/web/next.config.ts
  apps/web/src/__tests__/components/SummaryCard.test.tsx
  apps/web/src/__tests__/hooks/useCopilotActions.test.tsx
  apps/web/src/__tests__/hooks/useHealthCheck.test.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: resolve ESLint unused variable warnings in frontend (#123)
  apps/web/e2e/chat-responses.spec.ts
  apps/web/e2e/copilot.spec.ts
  apps/web/e2e/full-journey.spec.ts
  apps/web/e2e/global-setup.ts
  apps/web/e2e/library.spec.ts
  apps/web/e2e/processing-history.spec.ts
  apps/web/e2e/single-response.spec.ts
  apps/web/next.config.ts
  apps/web/src/__tests__/components/SummaryCard.test.tsx
  apps/web/src/__tests__/hooks/useCopilotActions.test.tsx
  apps/web/src/__tests__/hooks/useHealthCheck.test.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: resolve all ESLint unused variable issues in frontend
  .agents/skills/devops-engineer/EXAMPLES.md
  .agents/skills/devops-engineer/REFERENCE.md
  .agents/skills/devops-engineer/SKILL.md
  .agents/skills/kubernetes-architect/SKILL.md
  .agents/skills/terraform-style-guide/SKILL.md
  .github/skills/devops-engineer/EXAMPLES.md
  .github/skills/devops-engineer/REFERENCE.md
  .github/skills/devops-engineer/SKILL.md
  .github/skills/kubernetes-architect/SKILL.md
  .github/skills/terraform-style-guide/SKILL.md
  .opencode/skills/devops-engineer/EXAMPLES.md
  .opencode/skills/devops-engineer/REFERENCE.md
  .opencode/skills/devops-engineer/SKILL.md
  .opencode/skills/kubernetes-architect/SKILL.md
  .opencode/skills/terraform-style-guide/SKILL.md
  apps/web/src/__tests__/components/common/MarkdownComponents.test.tsx
  apps/web/src/app/ingest/[batchId]/page.tsx
  apps/web/src/components/BatchProgress.tsx
  apps/web/src/components/ChannelForm.tsx
  apps/web/src/components/JobProgress.tsx
  apps/web/src/components/ProcessingHistory.tsx
  apps/web/src/components/common/ThemeToggle.tsx
  apps/web/src/components/copilot/LearningPathView.tsx
  apps/web/src/components/copilot/ThreadedCopilotSidebar.tsx
  apps/web/src/components/copilot/WatchListView.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: resolve ESLint and TypeScript issues in CopilotVideoCard
  apps/web/src/components/ChannelVideoList.tsx
  apps/web/src/components/JobProgress.tsx
  apps/web/src/components/copilot/CopilotVideoCard.tsx
  apps/web/src/components/copilot/ThreadedCopilotSidebar.tsx
  apps/web/src/components/copilot/subcomponents/ScopeIndicator.tsx
  apps/web/src/components/library/SegmentList.tsx
  apps/web/src/hooks/useThreadPersistence.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: remove unused @copilotkit/shared dep and unused variable
  apps/web/package.json
  apps/web/src/services/threadPersistence.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

chore: update package-lock.json to resolve high severity vulnerabilities
  apps/web/package-lock.json
Due: cd apps/web && npx prettier --write

fix: update agent framework to support new AIFunction API
  services/api/src/api/agents/yt_summarizer_agent.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: correct import order and use collections.abc.Callable
  services/api/src/api/agents/yt_summarizer_agent.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: update agent framework test for new AIFunction API
  services/api/tests/test_agents.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: handle AIFunction import from different locations
  services/api/src/api/agents/yt_summarizer_agent.py
  services/api/tests/test_agents.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: pin agent-framework to 1.0.0b260116 for API stability
  services/api/pyproject.toml
  services/api/src/api/agents/yt_summarizer_agent.py
  services/api/tests/test_agents.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: also pin agent-framework-ag-ui to b260116
  services/api/pyproject.toml
Due: none

fix: skip E2E tests for PR preview deployments
  .github/workflows/preview.yml
Due: none

fix: disable K8s pull test in preview deployments
  .github/workflows/preview.yml
Due: none

Revert "fix: disable K8s pull test in preview deployments"
  .github/workflows/preview.yml
Due: none

fix: improve K8s pull test error diagnostics
  .github/actions/validate-docker-image/test-k8s-pull.sh
Due: none

docs: document AKS connectivity issue and disable K8s pull test
  .github/INFRASTRUCTURE_ISSUES.md
  .github/workflows/preview.yml
Due: none

docs: update AKS issue with complete impact analysis
  .github/INFRASTRUCTURE_ISSUES.md
Due: none

fix: resolve AKS cluster accessibility by starting stopped cluster
  .github/INFRASTRUCTURE_ISSUES.md
  .github/workflows/preview.yml
Due: none
