Repository AshleyHollis/yt-summarizer: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix, ruff check --fix, ruff format

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "npx prettier --write",
    "npx eslint --config apps/web/eslint.config.mjs --fix"
  ],
  "apps/web/**/*.{json,css,md,yml,yaml}": ["npx prettier --write"],
  "**/*.{yml,yaml}": ["npx prettier --write"],
  "services/**/*.py": ["ruff check --fix", "ruff format"]
}

fix(preview): use github.event context for PR number in secret injection step
  .github/workflows/preview.yml
Due: npx prettier --write

fix(preview): inject correct OpenAI API key into preview namespace for E2E processing
  .github/workflows/preview.yml
Due: npx prettier --write

fix(preview): restart workers with correct OpenAI key just before E2E tests
  .github/workflows/preview.yml
Due: npx prettier --write

feat: add MCP server and API key auth for OpenClaw integration
  .github/workflows/preview.yml
  apps/web/e2e/global-setup.ts
  apps/web/e2e/rbac-admin-access.spec.ts
  apps/web/e2e/rbac-navigation.spec.ts
  apps/web/e2e/rbac-normal-user-denied.spec.ts
  apps/web/src/__tests__/components/JobProgress.test.tsx
  apps/web/src/__tests__/components/auth/LoginButton.test.tsx
  apps/web/src/__tests__/components/auth/UserProfile.test.tsx
  apps/web/src/__tests__/components/auth/UsernamePasswordForm.test.tsx
  apps/web/src/__tests__/lib/api-client.test.ts
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/app/forbidden/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/auth/UserProfile.tsx
  apps/web/src/components/auth/UsernamePasswordForm.tsx
  k8s/base-preview/api-deployment.yaml
  k8s/base/api-deployment.yaml
  k8s/base/externalsecret-api-key.yaml
  k8s/base/kustomization.yaml
  services/api/src/api/dependencies/auth.py
  services/mcp/yt-summarizer-mcp/pyproject.toml
  services/mcp/yt-summarizer-mcp/server.py
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix, ruff check --fix, ruff format

fix(e2e): warn instead of throw on video processing timeout
  apps/web/e2e/global-setup.ts
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix

fix(e2e): warn instead of throw on video processing timeout (#181)
  apps/web/e2e/global-setup.ts
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix

fix(oidc): add preview environment federated credential to yt-summarizer module
  infra/terraform/modules/github-oidc/main.tf
  infra/terraform/modules/github-oidc/outputs.tf
Due: none

fix: auth admin routes and fix recovery-cronjob in preview
  k8s/base-preview/recovery-cronjob.yaml
  services/api/src/api/routes/admin.py
Due: npx prettier --write, ruff check --fix, ruff format

docs: update CLAUDE.md with related repos and project context
  CLAUDE.md
Due: none

feat(k8s): add OpenClaw deployment target
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/preview.yml
  .github/workflows/update-k8s-overlay.yml
  apps/web/package-lock.json
  infra/terraform/environments/prod/.terraform.lock.hcl
  infra/terraform/environments/prod/sql.tf
  infra/terraform/environments/prod/variables.tf
  k8s/argocd/openclaw/canary-app.yaml
  k8s/argocd/openclaw/kustomization.yaml
  k8s/argocd/openclaw/preview-appset.yaml
  k8s/argocd/openclaw/prod-app.yaml
  k8s/base-preview/externalsecret-api-key.yaml
  k8s/base-preview/externalsecret-auth0.yaml
  k8s/base-preview/externalsecret-db.yaml
  k8s/base-preview/externalsecret-openai.yaml
  k8s/base-preview/externalsecret-proxy.yaml
  k8s/base-preview/externalsecret-storage.yaml
  k8s/base-preview/kustomization.yaml
  k8s/base/externalsecret-api-key.yaml
  k8s/base/externalsecret-auth0.yaml
  k8s/base/externalsecret-db.yaml
  k8s/base/externalsecret-openai.yaml
  k8s/base/externalsecret-storage.yaml
  k8s/overlays/openclaw-canary/kustomization.yaml
  k8s/overlays/openclaw-prod/kustomization.yaml
  scripts/ci/generate_preview_kustomization.sh
  scripts/ci/templates/preview-openclaw-kustomization-template.yaml
  scripts/ci/templates/prod-openclaw-kustomization-template.yaml
  scripts/ci/update_prod_kustomization.sh
  scripts/workflows/prod-drain-aks-for-openclaw.sh
Due: npx prettier --write

fix(k8s): order migration hook after prerequisites
  k8s/base-preview/migration-job.yaml
  k8s/base/migration-job.yaml
Due: npx prettier --write

Fix OpenClaw migrations and library page latency
  k8s/base-preview/migration-job.yaml
  k8s/base/migration-job.yaml
  services/api/Dockerfile
  services/api/src/api/services/job_service.py
  services/api/src/api/services/library_service.py
  services/api/tests/conftest.py
  services/api/tests/test_library_service.py
  services/shared/scripts/run_migrations.py
Due: npx prettier --write, ruff check --fix, ruff format

fix(api): reduce OpenClaw page latency
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
  infra/terraform/environments/prod/variables.tf
  scripts/ci/templates/preview-openclaw-kustomization-template.yaml
  scripts/workflows/openclaw-preview-dns.sh
  services/api/src/api/routes/videos.py
  services/api/src/api/services/library_service.py
  services/shared/shared/blob/__init__.py
  services/shared/shared/blob/client.py
  services/shared/tests/test_blob_helpers.py
Due: npx prettier --write, ruff check --fix, ruff format

Fix transcript-only batch processing mode (#199)
  apps/web/e2e/processing-history.spec.ts
  services/api/src/api/services/batch_service.py
  services/api/tests/test_batches.py
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix, ruff check --fix, ruff format

fix: align batch proxy metadata logging (#200)
  services/api/src/api/services/batch_service.py
  services/api/tests/test_batches.py
Due: ruff check --fix, ruff format

Fix batch dispatch and transcribe retry handling (#203)
  k8s/overlays/openclaw-prod/transcribe-worker-scaledobject.yaml
  services/api/src/api/routes/admin.py
  services/api/src/api/services/batch_service.py
  services/api/tests/test_batches.py
  services/workers/tests/test_transcribe_resilience.py
  services/workers/transcribe/worker.py
Due: npx prettier --write, ruff check --fix, ruff format

Add age-gated transcript worker capability (#204)
  docs/runbooks/video-ingestion-troubleshooting.md
  services/shared/shared/config.py
  services/workers/.env.example
  services/workers/tests/test_message_contracts.py
  services/workers/tests/test_transcribe_resilience.py
  services/workers/transcribe/worker.py
Due: ruff check --fix, ruff format

fix(k8s): wire Azure OpenAI credentials in production
  k8s/base/api-deployment.yaml
  k8s/base/embed-worker-deployment.yaml
  k8s/base/externalsecret-openai.yaml
  k8s/base/summarize-worker-deployment.yaml
Due: npx prettier --write

fix(web): refresh vulnerable transitive dependencies
  apps/web/package-lock.json
Due: npx prettier --write

fix(terraform): avoid unsupported Auth0 password options
  infra/terraform/modules/auth0/main.tf
Due: none

fix(e2e): stabilize CTA hydration and queue observation
  apps/web/e2e/queue-progress.spec.ts
  apps/web/src/app/page.tsx
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix

fix(e2e): gate live queue observation mode
  apps/web/e2e/queue-progress.spec.ts
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix

fix(e2e): use canonical video detail route
  apps/web/e2e/video-flow.spec.ts
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix

fix(k8s): wire Azure OpenAI credentials in production (#211)
  apps/web/e2e/queue-progress.spec.ts
  apps/web/e2e/video-flow.spec.ts
  apps/web/package-lock.json
  apps/web/src/app/page.tsx
  infra/terraform/modules/auth0/main.tf
  k8s/base/api-deployment.yaml
  k8s/base/embed-worker-deployment.yaml
  k8s/base/externalsecret-openai.yaml
  k8s/base/summarize-worker-deployment.yaml
Due: npx prettier --write, npx eslint --config apps/web/eslint.config.mjs --fix

fix(agent): use Azure client for chat completions
  services/api/src/api/agents/yt_summarizer_agent.py
  services/api/tests/test_agents.py
Due: ruff check --fix, ruff format

fix(agent): use Azure client for chat completions (#212)
  services/api/src/api/agents/yt_summarizer_agent.py
  services/api/tests/test_agents.py
Due: ruff check --fix, ruff format
