Repository AshleyHollis/yt-summarizer: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix(deployment): resolve TypeScript build error and enhance checks (#80)
  .github/workflows/ci.yml
  .husky/pre-push
  apps/web/src/__tests__/components/JobProgress.test.tsx
  apps/web/src/__tests__/components/SubmitVideoForm.test.tsx
  apps/web/src/__tests__/components/library/VideoCard.test.tsx
  apps/web/src/__tests__/components/library/VideoDetailReprocess.test.tsx
  apps/web/src/__tests__/hooks/useHealthCheck.test.tsx
  apps/web/src/__tests__/setup.ts
  apps/web/src/app/admin/page.tsx
  package-lock.json
  package.json
  scripts/install-hooks.sh
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(deploy): use .next/standalone output for Azure SWA
  .github/workflows/deploy-prod.yml
Due: none

fix(deploy): use .next/standalone output for Azure SWA (#81)
  .github/workflows/deploy-prod.yml
Due: none

fix(deploy): remove Next.js standalone mode for Azure SWA compatibility
  .github/workflows/deploy-prod.yml
  apps/web/next.config.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: prevent auth API calls during SSR/SSG to fix Azure SWA deployment timeout
  apps/web/src/services/auth.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

Fix Azure SWA deployment timeout by preventing auth API calls during SSR/SSG (#83)
  apps/web/src/services/auth.ts
  k8s/overlays/prod/kustomization.yaml
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: restore SWA output location to .next
  .github/workflows/deploy-prod.yml
Due: none

Fix SWA warm-up by restoring .next output location (#84)
  .github/workflows/deploy-prod.yml
  k8s/overlays/prod/kustomization.yaml
Due: none

fix: enforce SWA output_location baseline
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  scripts/run-tests.ps1
  scripts/validate-swa-output.ps1
Due: none

Enforce SWA output_location baseline (#85)
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  k8s/overlays/prod/kustomization.yaml
  scripts/run-tests.ps1
  scripts/validate-swa-output.ps1
Due: none

fix: align web build command with SWA baseline
  apps/web/package.json
  scripts/validate-swa-output.ps1
Due: cd apps/web && npx prettier --write

style: fix trailing whitespace in prod kustomization
  k8s/overlays/prod/kustomization.yaml
Due: none

Align Next.js build command with SWA baseline (#86)
  apps/web/package.json
  k8s/overlays/prod/kustomization.yaml
  scripts/validate-swa-output.ps1
Due: cd apps/web && npx prettier --write

Revert "fix(auth): configure CloudFlare DNS and Azure SWA for Auth0 redirects (#78)"
  apps/web/src/app/admin/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/hooks/useAuth.ts
  services/api/src/api/routes/auth.py
  services/shared/shared/config.py
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

Revert "fix(auth): configure CloudFlare DNS and Azure SWA for Auth0 redirects (#78)"
  apps/web/src/app/admin/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/hooks/useAuth.ts
  k8s/overlays/prod/kustomization.yaml
  services/api/src/api/routes/auth.py
  services/shared/shared/config.py
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

Revert "fix(auth): configure CloudFlare DNS and Azure SWA for Auth0 redirects (#78)" (#87)
  apps/web/src/app/admin/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/hooks/useAuth.ts
  k8s/overlays/prod/kustomization.yaml
  services/api/src/api/routes/auth.py
  services/shared/shared/config.py
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: align SWA deploy token with baseline
  .github/workflows/deploy-prod.yml
  scripts/validate-swa-output.ps1
Due: none

Align production SWA token with documented baseline (#88)
  .github/workflows/deploy-prod.yml
  k8s/overlays/prod/kustomization.yaml
  scripts/validate-swa-output.ps1
Due: none

test: add auth API logout GET for bisect
  services/api/src/api/routes/auth.py
  services/shared/shared/config.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

test: add useAuth to navbar only
  apps/web/src/components/Navbar.tsx
  apps/web/src/hooks/useAuth.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: add admin page and useAuth only
  apps/web/src/app/admin/page.tsx
  apps/web/src/hooks/useAuth.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: add admin page without useAuth
  apps/web/src/app/admin/page.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

feat: add admin dashboard without client auth hook
  apps/web/src/app/admin/page.tsx
  k8s/overlays/prod/kustomization.yaml
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: render admin dashboard as client page
  apps/web/src/app/admin/page.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

Add admin dashboard without client auth hook (#89)
  apps/web/src/app/admin/page.tsx
  k8s/overlays/prod/kustomization.yaml
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: align prod SWA deploy with baseline
  .github/workflows/deploy-prod.yml
  k8s/overlays/prod/kustomization.yaml
Due: none

fix: align prod SWA deploy with baseline (#90)
  .github/workflows/deploy-prod.yml
  k8s/overlays/prod/kustomization.yaml
Due: none

fix: remove frontend auth hook usage
  apps/web/src/app/admin/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/auth/AuthButton.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

Remove frontend auth hook usage (#91)
  apps/web/src/app/admin/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/auth/AuthButton.tsx
  k8s/overlays/prod/kustomization.yaml
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: remove merge conflict marker in admin page
  apps/web/src/app/admin/page.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: remove merge conflict marker in admin page (#92)
  apps/web/src/app/admin/page.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: use webpack build for SWA baseline
  WORKING-BASELINE.md
  apps/web/package.json
  k8s/overlays/prod/kustomization.yaml
  scripts/validate-swa-output.ps1
Due: cd apps/web && npx prettier --write

fix: use webpack build for SWA baseline (#93)
  WORKING-BASELINE.md
  apps/web/package.json
  k8s/overlays/prod/kustomization.yaml
  scripts/validate-swa-output.ps1
Due: cd apps/web && npx prettier --write

test: remove root lockfiles for SWA bisect
  package-lock.json
  package.json
Due: none

fix: remove root lockfiles to prevent SWA timeouts
  WORKING-BASELINE.md
  k8s/overlays/prod/kustomization.yaml
  package-lock.json
  package.json
  scripts/validate-swa-output.ps1
Due: none

fix: remove root lockfiles to prevent SWA timeouts (#94)
  WORKING-BASELINE.md
  k8s/overlays/prod/kustomization.yaml
  package-lock.json
  package.json
  scripts/validate-swa-output.ps1
Due: none

docs: finalize SWA migration plan and log
  MIGRATION-LOG.md
  MIGRATION-PLAN.md
Due: none

style: normalize prod kustomization formatting
  k8s/overlays/prod/kustomization.yaml
Due: none

Path conditions:
  cd apps/web && npx eslint --fix: any of: apps/web/**/*.{ts,tsx,js,jsx}
  cd apps/web && npx prettier --write: (any of: apps/web/**/*.{ts,tsx,js,jsx}) or (any of: apps/web/**/*.{json,css,md})
  pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)": any of: services/**/*.py
  pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)": any of: services/**/*.py
