Repository AshleyHollis/yt-summarizer: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: prevent preview-e2e workflow failure when PR comment returns 403
  .github/workflows/preview-e2e.yml
Due: none

fix: resolve CI failures in deploy-prod, preview-cleanup workflows
  .github/workflows/deploy-prod.yml
  .github/workflows/preview-cleanup.yml
  specs/002-azure-cicd/tasks.md
  specs/005-webshare-proxy-pool/tasks.md
Due: none

docs(002-azure-cicd): complete T090-T101 - validate and document preview TLS + CI pipeline
  specs/002-azure-cicd/quickstart.md
  specs/002-azure-cicd/spec.md
  specs/002-azure-cicd/tasks.md
Due: none

fix(terraform): import existing webshare KV secrets into state
  infra/terraform/environments/prod/key-vault.tf
Due: none

fix(ci): handle [skip ci] commits in wait-for-ci action
  .github/actions/wait-for-ci/script.sh
Due: none

fix: increase SWA deployment timeouts to handle large uploads
  .github/actions/deploy-frontend-swa/action.yml
  .github/actions/deploy-frontend-swa/deploy-with-retry.sh
  .github/workflows/deploy-frontend-swa.yml
Due: none

fix: exclude Next.js cache from frontend build artifact
  .github/workflows/ci.yml
Due: none

fix(ci): resolve image tag from CI artifact in skip-ci fallback (#150)
  .github/actions/wait-for-ci/script.sh
  .github/workflows/deploy-prod.yml
Due: none

fix: configure SWA app settings from Key Vault before deploy
  .github/workflows/deploy-frontend-swa.yml
  .github/workflows/preview-e2e.yml
  apps/web/e2e/auth.setup.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: deploy frontend after Terraform to prevent settings race condition
  .github/workflows/deploy-prod.yml
Due: none

fix: always re-init Terraform in validator to prevent cache mismatches
  .github/actions/validate/validators/terraform-config.sh
Due: none

fix: upgrade SWA to Standard tier and use official GitHub Action (#154)
  .github/workflows/deploy-frontend-swa.yml
  infra/terraform/environments/prod/swa.tf
Due: none

fix: tolerate SWA warmup timeout on cold start deployments (#155)
  .github/workflows/deploy-frontend-swa.yml
Due: none

fix(e2e): authenticate via Auth0 Universal Login, remove SWA apiRuntime (#156)
  apps/web/e2e/auth.setup.ts
  apps/web/staticwebapp.config.json
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(routes): rename SWA-reserved routes to avoid 404s (#157)
  apps/web/e2e/auth-dual-login-methods.spec.ts
  apps/web/e2e/auth-protected-page.spec.ts
  apps/web/e2e/auth-session-persistence.spec.ts
  apps/web/e2e/auth-signout.spec.ts
  apps/web/e2e/auth-social-login.spec.ts
  apps/web/e2e/auth-unauthenticated-redirect.spec.ts
  apps/web/e2e/auth-username-password.spec.ts
  apps/web/e2e/auth.setup.ts
  apps/web/e2e/rbac-admin-access.spec.ts
  apps/web/e2e/rbac-navigation.spec.ts
  apps/web/e2e/rbac-normal-user-denied.spec.ts
  apps/web/src/__tests__/lib/api-client.test.ts
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/auth-error/page.tsx
  apps/web/src/app/forbidden/page.tsx
  apps/web/src/app/sign-in/page.tsx
  apps/web/src/components/auth/LoginButton.tsx
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/auth-utils.ts
  apps/web/src/proxy.ts
  apps/web/src/types/auth.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(ci): derive commit-sha from image-tag in overlay update to fix workflow_dispatch re-deploys (#158)
  .github/workflows/deploy-prod.yml
Due: none

fix: restore apiRuntime node:20 in SWA config to fix warm-up timeout (#159)
  apps/web/staticwebapp.config.json
Due: cd apps/web && npx prettier --write

refactor(infra): point shared ArgoCD apps to shared-infra repo (#162)
  k8s/argocd/infra-apps.yaml
Due: none

fix(infra): add import blocks for all KV secrets after state drift (#164)
  infra/terraform/environments/prod/key-vault.tf
Due: none

fix(deploy): use official Azure SWA action with skip_app_build (#165)
  .github/workflows/deploy-frontend-swa.yml
Due: none

fix: update managed identity client-id for Central India (#167)
  k8s/base/secretstore.yaml
  k8s/overlays/prod-secretstore/serviceaccount.yaml
Due: none

fix: add secretstore.yaml to base kustomization (#168)
  k8s/base/kustomization.yaml
Due: none

fix: region rebuild - CORS, security headers, gateway IP, KV GUIDs, pipeline (#170)
  .github/workflows/terraform-deploy.yml
  .squad/agents/dallas/history.md
  .squad/agents/kane/history.md
  .squad/agents/parker/history.md
  .squad/agents/ripley/history.md
  .squad/decisions/decisions.md
  .squad/decisions/inbox/dallas-region-audit.md
  .squad/decisions/inbox/parker-infra-fixes.md
  .squad/decisions/inbox/ripley-cors-security-fixes.md
  .squad/log/2026-03-04T14-32-deploy-verification.md
  .squad/orchestration-log/2026-03-04T14-32-kane.md
  .squad/orchestration-log/2026-03-04T14-32-parker.md
  .squad/orchestration-log/2026-03-04T14-32-ripley.md
  infra/terraform/environments/prod/key-vault.tf
  k8s/argocd/gateway-api/nginx-gateway-fabric.yaml
  services/api/src/api/main.py
  services/api/src/api/middleware/__init__.py
  services/api/src/api/middleware/security.py
  services/shared/shared/config.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix(deps): resolve high-severity npm audit vulns via overrides (#172)
  apps/web/package-lock.json
  apps/web/package.json
Due: cd apps/web && npx prettier --write

fix(infra): add auth0 KV secret imports + fix SWA location (#173)
  infra/terraform/environments/prod/auth0.tf
  infra/terraform/environments/prod/swa.tf
Due: none

fix: update CORS origin for new SWA hostname (#174)
  services/shared/shared/config.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: gracefully handle missing proxy credentials in BatchService (#175)
  services/api/src/api/services/batch_service.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix(ci): pass Webshare proxy credentials to Terraform plan/apply (#176)
  .github/workflows/terraform-deploy.yml
Due: none

fix: update stale SWA hostname and resolve preview pipeline blockers
  .github/workflows/terraform-deploy.yml
  .squad/agents/kane/history.md
  .squad/agents/parker/history.md
  .squad/agents/ripley/history.md
  .squad/decisions/inbox/kane-preview-auth.md
  .squad/decisions/inbox/kane-smoke-results.md
  .squad/decisions/inbox/parker-deploy-verify.md
  .squad/decisions/inbox/parker-preview-deps.md
  .squad/decisions/inbox/ripley-post-deploy-verify.md
  .squad/decisions/inbox/ripley-preview-api.md
  docs/runbooks/production-deployment.md
  infra/terraform/environments/prod/variables.tf
  k8s/overlays/preview/kustomization.yaml
  scripts/ci/generate_preview_kustomization.sh
  services/shared/shared/config.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

chore(setup): Linux VPS setup for Aspire-based local dev
  CLAUDE.md
  services/aspire/AppHost/AppHost.cs
  services/workers/embed/pyproject.toml
  services/workers/relationships/pyproject.toml
  services/workers/summarize/pyproject.toml
  services/workers/transcribe/pyproject.toml
Due: none

ci: add workflow to start AKS cluster via OIDC
  .github/workflows/aks-start.yml
Due: none

feat(proxy): add synchronous proxy health/usage wrappers and enable proxy locally
  services/aspire/AppHost/AppHost.cs
  services/workers/transcribe/worker.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

style: ruff format worker.py
  services/workers/transcribe/worker.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix(deps): npm audit fix — resolve high-severity CVEs in web app
  apps/web/package-lock.json
Due: cd apps/web && npx prettier --write

feat(proxy): residential proxy ingestion path
  .github/workflows/aks-start.yml
  CLAUDE.md
  apps/web/package-lock.json
  services/aspire/AppHost/AppHost.cs
  services/workers/embed/pyproject.toml
  services/workers/relationships/pyproject.toml
  services/workers/summarize/pyproject.toml
  services/workers/transcribe/pyproject.toml
  services/workers/transcribe/worker.py
Due: cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: resolve all 30 ESLint warnings in frontend
  apps/web/e2e/rbac-admin-access.spec.ts
  apps/web/e2e/rbac-navigation.spec.ts
  apps/web/e2e/rbac-normal-user-denied.spec.ts
  apps/web/src/__tests__/components/JobProgress.test.tsx
  apps/web/src/__tests__/components/auth/LoginButton.test.tsx
  apps/web/src/__tests__/components/auth/UserProfile.test.tsx
  apps/web/src/__tests__/components/auth/UsernamePasswordForm.test.tsx
  apps/web/src/__tests__/lib/api-client.test.ts
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/app/forbidden/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/auth/UserProfile.tsx
  apps/web/src/components/auth/UsernamePasswordForm.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

feat: add MCP server and API key auth for OpenClaw integration
  k8s/base/api-deployment.yaml
  k8s/base/externalsecret-api-key.yaml
  k8s/base/kustomization.yaml
  services/api/src/api/dependencies/auth.py
  services/mcp/yt-summarizer-mcp/pyproject.toml
  services/mcp/yt-summarizer-mcp/server.py
Due: pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

fix: restore fetch mock params to fix TypeScript tuple type errors
  apps/web/src/__tests__/lib/api-client.test.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(e2e): enable API key auth in preview namespace for E2E video seeding
  .github/workflows/preview.yml
  apps/web/e2e/global-setup.ts
  k8s/base-preview/api-deployment.yaml
  k8s/base/api-deployment.yaml
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

Path conditions:
  cd apps/web && npx eslint --fix: any of: apps/web/**/*.{ts,tsx,js,jsx}
  cd apps/web && npx prettier --write: (any of: apps/web/**/*.{ts,tsx,js,jsx}) or (any of: apps/web/**/*.{json,css,md})
  pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)": any of: services/**/*.py
  pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)": any of: services/**/*.py
