Repository AshleyHollis/yt-summarizer: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write, pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)", pwsh -Command "cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)"

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "cd apps/web && npx eslint --fix",
    "cd apps/web && npx prettier --write"
  ],
  "apps/web/**/*.{json,css,md}": [
    "cd apps/web && npx prettier --write"
  ],
  "services/**/*.py": [
    "pwsh -Command \"cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff check --fix $($args[0] | Split-Path -Leaf)\"",
    "pwsh -Command \"cd $($args[0] | Split-Path -Parent | Split-Path -Parent) && uv run ruff format $($args[0] | Split-Path -Leaf)\""
  ]
}

fix(auth0): use Auth0 v4 SDK proxy pattern to fix SWA warmup timeout
  apps/web/proxy.ts
  apps/web/src/app/api/auth/[auth0]/route.ts
  apps/web/src/app/api/auth/me/route.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(auth0): add missing Auth0 API route handler and improve warmup resilience
  .github/workflows/preview.yml
  apps/web/src/app/api/auth/[auth0]/route.ts
  apps/web/src/contexts/AuthContext.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(auth0): narrow proxy matcher to /auth/* to prevent SWA warmup timeout
  apps/web/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(auth0): use dynamic imports to prevent SWA warmup timeout
  apps/web/proxy.ts
  apps/web/src/app/api/auth/me/route.ts
  apps/web/src/lib/auth0.ts
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix(auth0): consolidate proxy files to fix SWA warmup timeout
  apps/web/proxy.ts
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test(swa): completely bypass proxy to isolate warmup timeout issue
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test(swa): disable Auth0 to isolate warmup timeout cause
  apps/web/src/app/api/auth/me/route.ts
  apps/web/src/app/providers.tsx
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

test: establish clean SWA deployment baseline from main
  apps/web/TEST-BASELINE.md
Due: cd apps/web && npx prettier --write

fix: disable change detection to prevent deployment skipping issues
  scripts/ci/detect-changes.ps1
  scripts/workflows/preview-finalize-flags.sh
Due: none

fix: resolve TypeScript type errors in frontend tests
  apps/web/src/__tests__/components/JobProgress.test.tsx
  apps/web/src/__tests__/components/SubmitVideoForm.test.tsx
  apps/web/src/__tests__/components/library/VideoCard.test.tsx
  apps/web/src/__tests__/components/library/VideoDetailReprocess.test.tsx
  apps/web/src/__tests__/hooks/useHealthCheck.test.tsx
  apps/web/src/__tests__/setup.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: correct TypeScript type errors in tests and remove SWA app settings from Terraform
  apps/web/src/__tests__/components/JobProgress.test.tsx
  apps/web/src/__tests__/components/SubmitVideoForm.test.tsx
  apps/web/src/__tests__/components/library/VideoDetailReprocess.test.tsx
  infra/terraform/environments/prod/swa.tf
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

refactor: simplify deployment workflows by removing detect-changes logic
  .github/workflows/deploy-prod.yml
  .github/workflows/preview.yml
Due: none

fix: remove auth-utils.ts validation from baseline branch
  .github/workflows/ci.yml
Due: none

fix: add SWA runtime app settings configuration to production workflow
  .github/workflows/deploy-prod.yml
Due: none

test: revert SWA output_location to .next (Test 1)
  .github/workflows/deploy-prod.yml
  .github/workflows/preview.yml
  SWA-DEPLOYMENT-TROUBLESHOOTING.md
Due: none

test: add simple isolated SWA workflow (Test 2)
  .github/workflows/swa-baseline-deploy.yml
  .github/workflows/swa-simple-test.yml
  SWA-DEPLOYMENT-TROUBLESHOOTING.md
Due: none

chore: add fix/swa-working-baseline to baseline workflow triggers
  .github/workflows/swa-baseline-deploy.yml
Due: none

docs: establish working baseline and migration plan
  MIGRATION-LOG.md
  MIGRATION-PLAN.md
  WORKING-BASELINE.md
Due: none

docs: add quick start guide for working baseline
  QUICK-START.md
Due: none

migration: phase 1 - add Auth0 environment variable fetching
  .github/workflows/swa-baseline-deploy.yml
Due: none

migration: phase 1 v2 - add Auth0 placeholder env vars (no Azure login)
  .github/workflows/swa-baseline-deploy.yml
Due: none

docs: mark Phase 1 as complete in migration plan
  MIGRATION-LOG.md
  MIGRATION-PLAN.md
Due: none

migration: phase 2 - use real Auth0 secrets from GitHub Secrets
  .github/workflows/swa-baseline-deploy.yml
Due: none

docs: update migration log with Phase 2 success
  MIGRATION-LOG.md
Due: none

docs: mark Phase 2 as complete in migration plan
  MIGRATION-PLAN.md
Due: none

migration: phase 5 - add Auth0 API routes
  .github/workflows/swa-baseline-deploy.yml
  apps/web/src/app/api/auth/[auth0]/route.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

feat: add @auth0/nextjs-auth0 dependency for Phase 4
  apps/web/package-lock.json
  apps/web/package.json
Due: cd apps/web && npx prettier --write

fix: use edge-compatible Auth0 import
  apps/web/src/app/api/auth/[auth0]/route.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

migration: phase 5 - implement Auth0 v4 middleware pattern
  .github/workflows/swa-baseline-deploy.yml
  .gitignore
  apps/web/lib/auth0.ts
  apps/web/middleware.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: add Auth0 package to transpilePackages for Edge runtime
  apps/web/next.config.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: use direct dist path import for Turbopack Edge runtime
  apps/web/lib/auth0.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: use proxy.ts for Next.js 16 instead of middleware.ts
  apps/web/lib/auth0.ts
  apps/web/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: work around Turbopack subpath export resolution via re-export
  apps/web/lib/auth0-server.ts
  apps/web/lib/auth0.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: disable Turbopack to resolve Auth0 subpath export issue
  apps/web/lib/auth0-server.ts
  apps/web/lib/auth0.ts
  apps/web/next.config.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

fix: use --webpack flag in build script to avoid Turbopack
  apps/web/next.config.ts
  apps/web/package.json
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write

feat: add @auth0/nextjs-auth0 dependency (Phase 4)
  apps/web/package-lock.json
  apps/web/package.json
Due: cd apps/web && npx prettier --write

fix: Move proxy.ts to src/ directory for Next.js 16
  apps/web/src/proxy.ts
Due: cd apps/web && npx eslint --fix, cd apps/web && npx prettier --write
